*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	padding-top: 20px;
	background-image: url(img/fon.png);
	background-size: cover;
}
.middle{
	width: 700px;
	margin: 0 auto;
}
.table{
	padding:20px 10px;
	background:darkgreen;
	background-repeat: no-repeat;
	margin:0 auto;
	margin-top: 10px;
	border-style:solid;
	border-color:red;
	border-width: 6px;
	height: 700px;
	width: 100%;
}

.table_line{
	display: flex;
	justify-content: space-between;
	padding-left:17px;
	padding-top: 25px;
	padding-right: 15px;
}

.buttons{
	display: flex;
	justify-content: space-between;
	height: 100px;
	margin:0 auto;
	padding: 0 15px;
}
.button{
	width: 13%;
	box-shadow: 1px 3px 1px rgba(0,0,0,0.5);
	background-color: darkgreen;
	color: #4DEF15;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.5;
}
.button:hover{
	width: 13%;
	color: #56A63D;

}
.circle{
	width: 80px;
	height:80px;
	background-color: green;
	border-radius: 50%;
}
.circle_red{
	width: 80px;
	height:80px;
	background:url('img/coins_red.png');
	background-size: cover; 
}
.circle_blue{
	width: 80px;
	height:80px;
	background:url('img/coins_blue.png');
	background-size: cover;	
}
.text{
	font-size: 70px;
	text-align: center;
	color: #094F18;
}
.text_red{
	color: #ff0000;
}
.text_blue{
	color: #0084ff;
}
.additionalButton{
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.FAQButton{
	text-align: center;
	margin: 0 auto;
	background-color: darkgreen;
	width: 49%;
	box-shadow: 1px 3px 1px rgba(0,0,0,0.5);
	padding:10px;
}
.FAQ{
	width: 100%;
	color: #4DEF15;
	font-size: 50px;
}
.FAQ:hover{
	color: #56A63D;
}
.resetButton{
	margin: 0 auto;
	background-color: darkgreen;
	width: 49%;
	box-shadow: 1px 3px 1px rgba(0,0,0,0.5);
	padding:10px;
}
.reset{
	width: 100%;
	color: #4DEF15;
	font-size: 50px;
	background-color: darkgreen;
}
@media (max-height: 900px){
	.text{
		font-size: 48px;
	}
	.middle{
		height: 600px;
	}
	.table{
		padding-top: 0px;
		height: 550px;
	}
	.circle{
		width: 60px;
		height:60px;
	}
	.circle_red{
		width: 60px;
		height:60px;
	}
	.circle_blue{
		width: 60px;
		height:60px;
	}
	.button{
		font-size: 18px;
		line-height: 1.5;
	}
}
@media(max-height: 715px){
	.text{
		font-size: 40px;
	}
	.middle{
		height: 500px;
		width: 550px;
	}
	.table{
		padding-top: 0px;
		height: 450px;
	}
	.circle{
		width: 44px;
		height:44px;
	}
	.circle_red{
		width: 44px;
		height:44px;
	}
	.circle_blue{
		width: 44px;
		height:44px;
	}
	.button{
		font-size: 14px;
		line-height: 1.5;
	}
	.FAQButton{
		height: 50px;
	}
	.FAQ{
		font-size: 30px;
	}
	.resetButton{
		height: 50px;
	}
	.reset{
		font-size: 30px;
	}
}